/* Garante que o estilo não afete outros componentes */
.login-wrapper {
    display: flex;
    justify-content: center;
    margin-top: -5%;
    align-items: center;
    height: 100vh; /* Preenche a altura da tela */
    background-color: #f0f0f0; /* Cor de fundo da tela de login */
  }
  
  .login-form-container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .login-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form-group {
    margin-bottom: 15px;
  }
  
  .login-form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .login-input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 16px;
  }
  
  .login-input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .login-submit-button {
    width: 100%;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-submit-button:hover {
    background-color: #0056b3;
  }
  